.wrapper {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto; }

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.maincontent {
  width: 90%;
  min-height: 40.625rem;
  margin-top: 1.875rem; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

a {
  text-decoration: none; }

html {
  font-size: 1rem; }
  @media screen and (max-width: 520px) {
    html {
      font-size: 0.8125rem; } }
  @media screen and (max-width: 1000px) {
    html {
      font-size: 0.875rem; } }

select {
  cursor: pointer; }
  @media screen and (max-width: 520px) {
    select {
      width: 220px; } }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 850px) {
    .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 520px) {
    .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .content__form {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (max-width: 520px) {
      .content__form {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 50px; } }
    @media screen and (max-width: 850px) {
      .content__form {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 50px; } }

.pictr {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 850px) {
    .pictr {
      width: 100%; } }
  @media screen and (max-width: 520px) {
    .pictr {
      width: 100%; } }

.productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 50px; }
  .productInfo__inputs {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: Times New Roman;
    font-size: 20px; }
    @media screen and (max-width: 850px) {
      .productInfo__inputs {
        font-size: 16px;
        margin-bottom: 10px;
        margin-left: 10px; }
        .productInfo__inputs:last-child {
          margin-bottom: 0; } }
    @media screen and (max-width: 520px) {
      .productInfo__inputs {
        font-size: 16px;
        width: 65%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        margin-bottom: 10px;
        margin-left: 10px; }
        .productInfo__inputs:last-child {
          margin-bottom: 0; } }
  .productInfo__titles {
    width: 20%;
    font-family: Times New Roman;
    font-size: 25px; }
    @media screen and (max-width: 520px) {
      .productInfo__titles {
        font-size: 20px; } }
  .productInfo__title {
    margin-bottom: 5px; }
    @media screen and (max-width: 520px) {
      .productInfo__title {
        margin-bottom: 7pxpx; }
        .productInfo__title:last-child {
          margin-bottom: 0; } }

@media screen and (max-width: 850px) {
  .productInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media screen and (max-width: 520px) {
  .productInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.productInfo__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.name,
.price,
.SKU {
  text-align: left;
  padding-top: 0.625rem;
  padding-left: 0.625rem;
  resize: none;
  outline: none;
  border: 2px none;
  border-radius: 3px;
  width: 260px;
  height: 35px;
  background-color: #c1c1c1;
  margin-bottom: 5px;
  -webkit-box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, 0.5) inset; }
  @media screen and (max-width: 1000px) {
    .name,
    .price,
    .SKU {
      margin-left: 2rem; } }
  @media screen and (max-width: 520px) {
    .name,
    .price,
    .SKU {
      width: 11.75rem;
      height: 1.875rem;
      margin-bottom: 0.5rem;
      margin-left: 2rem; } }

.typeSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px; }
  .typeSelect__title {
    width: 50%;
    font-family: Times New Roman;
    font-size: 20px; }
  .typeSelect__content {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

.field {
  width: 80%;
  height: 400px;
  border: none;
  border-radius: 10px;
  background-color: #c1c1c1;
  -webkit-box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, 0.2) inset; }
  @media screen and (max-width: 850px) {
    .field {
      width: 100%; } }
  @media screen and (max-width: 520px) {
    .field {
      width: 100%; } }
  .field__list {
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .field__item {
    width: 60%;
    display: none; }

.size,
.bks,
.type,
.height,
.width,
.lenght {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 100px; }
  .size__content,
  .bks__content,
  .type__content,
  .height__content,
  .width__content,
  .lenght__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .size__title, .size__select,
  .bks__title,
  .bks__select,
  .type__title,
  .type__select,
  .height__title,
  .height__select,
  .width__title,
  .width__select,
  .lenght__title,
  .lenght__select {
    font-family: Times New Roman; }
  @media screen and (max-width: 520px) {
    .size__options,
    .bks__options,
    .type__options,
    .height__options,
    .width__options,
    .lenght__options {
      margin-left: 10px; } }

.height_diffr,
.type_diffr,
.width_diffr,
.lenght_diffr {
  margin-top: 20px; }

.hint {
  margin-top: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: red;
  font-style: italic; }
  @media screen and (max-width: 520px) {
    .hint {
      font-size: 12px; } }
  @media screen and (max-width: 850px) {
    .hint {
      font-size: 16px; } }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  .buttons__order {
    margin-left: 20px; }
  .buttons__reset {
    margin-right: 20px; }

.button {
  cursor: pointer;
  width: 90px;
  height: 70px;
  border-radius: 50%;
  background-color: aqua; }
  .button:hover {
    background-color: bisque;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }

.pictures__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
  height: 400px;
  border: none;
  border-radius: 10px;
  background-color: #c1c1c1;
  -webkit-box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, 0.2) inset; }
  @media screen and (max-width: 520px) {
    .pictures__display {
      width: 100%;
      height: 300px; } }
  @media screen and (max-width: 850px) {
    .pictures__display {
      width: 100%;
      height: 300px; } }

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.products__item {
  margin-bottom: 3.125rem; }
  .products__item:last-child {
    margin-bottom: 0; }

.dvd__list, .books__list, .furniture__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 520px) {
    .dvd__list, .books__list, .furniture__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.dvd__item, .books__item, .furniture__item {
  width: 15.625rem;
  height: 12.5rem;
  border: 0.25rem solid black;
  border-radius: 0.3125rem; }
  @media screen and (max-width: 1200px) {
    .dvd__item, .books__item, .furniture__item {
      width: 12.625rem;
      height: 10.5rem; } }
  @media screen and (max-width: 1000px) {
    .dvd__item, .books__item, .furniture__item {
      width: 10.625rem;
      height: 8.5rem;
      margin-bottom: 1.875rem; }
      .dvd__item:last-child, .books__item:last-child, .furniture__item:last-child {
        margin-bottom: 0; } }
  @media screen and (max-width: 850px) {
    .dvd__item, .books__item, .furniture__item {
      width: 7.625rem;
      height: 8.5rem; } }
  @media screen and (max-width: 520px) {
    .dvd__item, .books__item, .furniture__item {
      width: 10.625rem;
      height: 8.5rem;
      margin-bottom: 1.875rem; }
      .dvd__item:last-child, .books__item:last-child, .furniture__item:last-child {
        margin-bottom: 0; } }

.products__checkbox-in {
  margin-top: 0.9375rem;
  margin-left: 0.9375rem; }

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 1rem; }
  @media screen and (max-width: 1000px) {
    .product {
      font-size: 12px; } }
  @media screen and (max-width: 520px) {
    .product {
      font-size: 10px; } }
  .product__code, .product__name, .product__price {
    margin-bottom: 0.625rem; }
    @media screen and (max-width: 1000px) {
      .product__code, .product__name, .product__price {
        margin-bottom: 5px; } }
    @media screen and (max-width: 520px) {
      .product__code, .product__name, .product__price {
        margin-bottom: 0.3125rem; } }

.deleteCheck__btn {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 8.75rem;
  height: 2.8125rem;
  line-height: 2.8125rem;
  border-radius: 2.8125rem;
  margin: 0.625rem 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6875rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1875rem;
  font-weight: 600;
  color: #524f4e;
  background: white;
  -webkit-box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .deleteCheck__btn:hover {
    background: #2EE59D;
    -webkit-box-shadow: 0 0.9375rem 1.25rem rgba(46, 229, 157, 0.4);
    box-shadow: 0 0.9375rem 1.25rem rgba(46, 229, 157, 0.4);
    color: black;
    -webkit-transform: translateY(-0.4375rem);
    -ms-transform: translateY(-0.4375rem);
    transform: translateY(-0.4375rem); }
  @media screen and (max-width: 520px) {
    .deleteCheck__btn {
      width: 6.25rem;
      height: 3.125rem;
      font-size: 0.4rem;
      font-weight: 800; } }

@media screen and (max-width: 520px) {
  .deleteChecks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.footer {
  width: 100%;
  height: 9.375rem;
  margin-top: 9.375rem;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 520px) {
      .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .footer__left {
    font-family: Times New Roman;
    font-size: 1.25rem;
    text-align: center; }
    @media screen and (max-width: 520px) {
      .footer__left {
        font-size: 1rem;
        padding-top: 10px; } }

.phone__call:hover {
  color: green;
  font-size: 1.75rem;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s; }
  @media screen and (max-width: 520px) {
    .phone__call:hover {
      font-size: 1.5rem; } }

.email__me:hover {
  color: green;
  font-size: 1.75rem;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s; }
  @media screen and (max-width: 520px) {
    .email__me:hover {
      font-size: 1.5rem; } }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .socials__item {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 1.875rem; }
    .socials__item:first-child {
      margin-left: 0; }
  .socials__icon {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 5%;
    fill: blue; }
    .socials__icon:hover {
      fill: green;
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      -webkit-transition: 3s;
      -o-transition: 3s;
      transition: 3s; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1.875rem; }
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2rem; }
    @media screen and (max-width: 520px) {
      .header__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .header__info__title {
      font-family: arial;
      font-size: 2.5rem;
      margin-bottom: 1.25rem; }
      @media screen and (max-width: 520px) {
        .header__info__title {
          font-size: 0.625rem; } }
  .header::after {
    background-color: #373e42;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto 2rem;
    margin-top: 1.5625rem;
    width: 100%;
    border-radius: 40%; }
