.content {
  display: flex;
  flex-direction: row;
  @include tabletsmall {
      flex-direction: column;
  }
  @include phones {
      flex-direction: column;
  }

  &__form {
      width: 50%;
      display: flex;
      flex-direction: column;

      @include phones {
          width: 100%;
          justify-content: center;
          align-items: center;
          margin-bottom: 50px;
      }

      @include tabletsmall {
          width: 100%;
          justify-content: center;
          align-items: center;
          margin-bottom: 50px;
      }
  }
}

.pictr {
  width: 49%;
  display: flex;
  justify-content: center;
  @include tabletsmall {
      width: 100%;
  }
  @include phones {
      width: 100%;
  }
}

.productInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;

  &__inputs {
      width: 80%;
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      font-family: Times New Roman;
      font-size: 20px;
      @include tabletsmall {
          font-size: 16px;
          margin-bottom: 10px;
          margin-left: 10px;
          &:last-child {
              margin-bottom: 0;
          }
      }
      @include phones {
          font-size: 16px;
          width: 65%;
          align-self: flex-start;
          margin-bottom: 10px;
          margin-left: 10px;

          &:last-child {
              margin-bottom: 0;
          }

      }


  }

  &__titles {
      width: 20%;
      font-family: Times New Roman;
      font-size: 25px;

      @include phones {
          font-size: 20px;
      }
  }

  &__title {
      margin-bottom: 5px;

      @include phones {
          margin-bottom: 7pxpx;

          &:last-child {
              margin-bottom: 0;
          }
      }
  }
}

.productInfo {
  @include tabletsmall {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  @include phones {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
}
.productInfo__input {
    display: flex;
    flex-direction: column;
}

.name,
.price,
.SKU {
text-align: left;
padding-top: 0.625rem;
padding-left: 0.625rem;
 resize: none;
 outline: none;  
  border: 2px none;
  border-radius: 3px;
  width: 260px;
  height: 35px;
  background-color: #c1c1c1;
  margin-bottom: 5px;
  box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, .5) inset;
  @include tablets {
    margin-left: 2rem;   
  }

  @include phones {
      width: 11.75rem;
      height: 1.875rem;
      margin-bottom: 0.5rem;
      margin-left: 2rem;
  }
}

.typeSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;

  &__title {
      width: 50%;
      font-family: Times New Roman;
      font-size: 20px;
  }

  &__content {
      width: 50%;
      display: flex;
      justify-content: flex-start;
  }
}

.field {
  width: 80%;
  height: 400px;
  border: none;
  border-radius: 10px;
  background-color: #c1c1c1;
  box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, .2) inset;
  @include tabletsmall {
      width: 100%;
  }
  @include phones {
      width: 100%;
  }

  &__list {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  &__item {
      width: 60%;
      display: none;
  }
}

.size,
.bks,
.type,
.height,
.width,
.lenght {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  &__content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  &__title,
  &__select {
      font-family: Times New Roman;
  }

  &__options {
      @include phones {
          margin-left: 10px;
      }
  }
}

.height_diffr,
.type_diffr,
.width_diffr,
.lenght_diffr {
  margin-top: 20px;
}

.hint {
  margin-top: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: red;
  font-style: italic;

  @include phones {
      font-size: 12px;
  }

  @include tabletsmall {
      font-size: 16px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &__order {
      margin-left: 20px;
  }

  &__reset {
      margin-right: 20px;
  }
}

.button {
  cursor: pointer;
  width: 90px;
  height: 70px;
  border-radius: 50%;
  background-color: aqua;

  &:hover {
      background-color: bisque;
      transition: 2s;
  }
}

.pictures__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  width: 80%;
  height: 400px;
  border: none;
  border-radius: 10px;
  background-color: #c1c1c1;
  box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, .2) inset;

  @include phones {
      width: 100%;
      height: 300px;
  }

  @include tabletsmall {
      width: 100%;
      height: 300px;
  }
}