.footer {
    width: 100%;
    height: 9.375rem;
    margin-top: 9.375rem;
    background-color: grey;
    display: flex;
    justify-content: center;
    &__container {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include phones {
            flex-direction: column;
        }
    }
    &__left {
        font-family: Times New Roman;
        font-size: 1.25rem;
        text-align: center;
        @include phones{
            font-size: 1rem;
            padding-top: 10px;
        }
    }
}
.phone__call:hover {
        color: green;
        font-size: 1.75rem;
        transition: 3s;
        @include phones {
            font-size: 1.5rem;
        }
    }
    .email__me:hover {
        color: green;
        font-size: 1.75rem;
        transition: 3s;
        @include phones {
            font-size: 1.5rem;
        }
    }
.socials {
    display: flex;
    flex-direction: row;
    &__item {
        height: 2.5rem;
        width: 2.5rem;
        margin-left: 1.875rem;
        &:first-child{
            margin-left: 0;
        }
    }
    &__icon {
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 5%;
        fill: blue;
        &:hover {
            fill: green;
            transform: scale(1.5);
            transition: 3s;
        }
    }
}