.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.875rem;
  
  &__info { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    @include phones {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    &__title {
      font-family: arial;
      font-size: 2.5rem;
      margin-bottom: 1.25rem;
      @include phones {
        font-size: 0.625rem;
      }
    }
  }
  &::after {
    background-color: #373e42;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto 2rem;
    margin-top: 1.5625rem;
    width: 100%;
    border-radius: 40%;
  }
}