.products__list {
    display: flex;
    flex-direction: column;
  }
  .products__item {
    margin-bottom: 3.125rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .dvd__list, .books__list, .furniture__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include phones{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .dvd__item, .books__item, .furniture__item {
    width: 15.625rem;
    height: 12.5rem;
    border: 0.25rem solid black;
    border-radius: 0.3125rem;
    @include pcsmall{
      width: 12.625rem;
      height: 10.5rem;
    }
    @include tablets{
      width: 10.625rem;
      height: 8.5rem;
      margin-bottom: 1.875rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
    @include tabletsmall {
      width: 7.625rem;
      height: 8.5rem;
    }
    @include phones {
      width: 10.625rem;
      height: 8.5rem;
      margin-bottom: 1.875rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  
  }
  .products__checkbox-in {
    margin-top: 0.9375rem;
    margin-left: 0.9375rem;
  }
  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    font-size: 1rem;
    @include tablets {
      font-size: 12px;
    }
    @include phones {
      font-size: 10px;
    }
    &__code, &__name, &__price {
      margin-bottom: 0.625rem;
      @include tablets {
        margin-bottom: 5px;
      }
      @include phones {
        margin-bottom: 0.3125rem;
      }
    }
  }
  .deleteCheck__btn {
      text-decoration: none;
    outline: none;
    display: inline-block;
    width: 8.75rem;
    height: 2.8125rem;
    line-height: 2.8125rem;
    border-radius: 2.8125rem;
    margin: 0.625rem 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6875rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1875rem;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 0.5rem 0.9375rem rgba(0,0,0,.1);
    transition: .3s;
    &:hover {
      background: #2EE59D;
      box-shadow: 0 0.9375rem 1.25rem rgba(46,229,157,.4);
      color: black;
      transform: translateY(-0.4375rem);
    }
    @include phones {
        width: 6.25rem;
        height: 3.125rem;
        font-size: 0.4rem;
        font-weight: 800;
  
    }
  }
  .deleteChecks {
      @include phones {
          display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center
      }
  }