

@mixin phones {
  @media screen and (max-width: $phones) {
    @content
  }
}
@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content
  }
}
@mixin pcsmall {
  @media screen and (max-width: $pcsmall) {
    @content
  }
}
@mixin tabletsmall {
  @media screen and (max-width: $tabletsmall) {
    @content
  }
}
@mixin phones {
  @media screen and (max-width: $phones) {
    @content
  }
}