.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontent {
  width: 90%;
  min-height: 40.625rem;
  margin-top: 1.875rem;
}


