body {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

}
*, *::before, *::after {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
ul, {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
a {
  text-decoration: none;
}
html {
  font-size: 1rem;
  @include phones {
      font-size: 0.8125rem;
  }
  @include tablets {
      font-size: 0.875rem;
  }
}
select {
  cursor: pointer;
  @include phones {
      width: 220px;
  }
}