.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .content__form {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }

.pictr {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 50px; }
  .productInfo__inputs {
      width: 80%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      font-family: Times New Roman;
      font-size: 20px; }
  .productInfo__titles {
      width: 20%;
      font-family: Times New Roman;
      font-size: 25px; }
  .productInfo__title {
      margin-bottom: 5px; }

.name, .price, .SKU {
  border: 2px none;
  border-radius: 3px;
  width: 260px;
  height: 35px;
  background-color: #c1c1c1;
  margin-bottom: 5px;
  -webkit-box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, 0.5) inset; }

.typeSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px; }
  .typeSelect__title {
      width: 50%;
      font-family: Times New Roman;
      font-size: 20px; }
  .typeSelect__content {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }

.field {
  width: 80%;
  height: 400px;
  border: none;
  border-radius: 10px;
  background-color: #c1c1c1;
  -webkit-box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, 0.2) inset; }
  .field__list {
      width: 100%;
      height: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .field__item {
      width: 60%;
      display: none; }

.size, .books, .type, .height, .width, .lenght {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 100px; }
  .size__content, .books__content, .type__content, .height__content, .width__content, .lenght__content {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .size__title, .size__select, .books__title, .books__select, .type__title, .type__select, .height__title, .height__select, .width__title, .width__select, .lenght__title, .lenght__select {
      font-family: Times New Roman; }

.height_diffr, .type_diffr, .width_diffr, .lenght_diffr {
  margin-top: 20px; }

.hint {
  margin-top: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: red;
  font-style: italic; }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  .buttons__order {
      margin-left: 20px; }
  .buttons__reset {
      margin-right: 20px; }

.button {
  cursor: pointer;
  width: 90px;
  height: 70px;
  border-radius: 50%;
  background-color: aqua; }
  .button:hover {
      background-color: bisque;
      -webkit-transition: 2s;
      -o-transition: 2s;
      transition: 2s; }

.pictures__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
  height: 400px;
  border: none;
  border-radius: 10px;
  background-color: #c1c1c1;
  -webkit-box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 3px 3px 10px 5px #c1c1c1, 0 0 4px rgba(0, 0, 0, 0.2) inset; }
