.footer {
  width: 100%;
  height: 9.375rem;
  margin-top: 9.375rem;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer__container {
      width: 90%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .footer__left {
      font-family: Times New Roman;
      font-size: 1.25rem;
      text-align: center; }

.phone__call:hover {
  color: green;
  font-size: 1.75rem;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s; }

.email__me:hover {
  color: green;
  font-size: 1.75rem;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .socials__item {
      height: 2.5rem;
      width: 2.5rem;
      margin-left: 1.875rem; }
      .socials__item:first-child {
          margin-left: 0; }
  .socials__icon {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 5%;
      fill: blue; }
      .socials__icon:hover {
          fill: green;
          -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
          transform: scale(1.5);
          -webkit-transition: 3s;
          -o-transition: 3s;
          transition: 3s; }
